                </article>
            </section>
        </main>
    </div>
    <footer class="bg-primary" role="contentinfo">
        <div class="container-fluid">
            <address>
                Copyright &copy; 2016 Fraunhofer Institute for Applied Information Technology FIT
            </address>
        </div>
    </footer>
    <script type="application/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="application/javascript"
            src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"></script>
</body>
</html>
