<% include include/header.ejs %>

<div class="jumbotron">
    <form>
        <label>FHIR JSON: <textarea cols="90" rows="20" id="fhirjson"></textarea></label>
        <br/>
        <button onclick="return validate();">Validate</button>
        <br/>
        <label>Validation result: <textarea cols="50" rows="10" id="result"></textarea></label>
    </form>


</div>
<script>
    var fhirjson = document.querySelector("#fhirjson");
    var resultText = document.querySelector("#result");

    function validate(){
        var xhr = new XMLHttpRequest();
        var that = this;
        xhr.onprogress = function () {
            var fhirjson = document.querySelector("#fhirjson");
            console.log('LOADING', xhr.status);
        };
        xhr.onload = function () {
            console.log('DONE', xhr.status);
            var DONE = 4; // readyState 4 means the request is done.
            var OK = 200; // status 200 is a successful return.
            if (xhr.status === OK) {
                var result = JSON.parse(xhr.responseText);
                resultText.value = xhr.responseText;
                console.log(result); // 'This is the returned text.'
            }
            else {
                console.log('Error: ' + xhr.status); // An error occurred during the request.
            }
        };
        xhr.open('POST', 'https://localhost:8080/api/fhir/validate/json');
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(fhirjson.value);
        return false;
    }

</script>
<% include include/footer.ejs %>