/* ===== custom styles ===== */
body {
    padding-top: 70px; /* fixed header */
}

address {
    font-style: italic;
    text-align: center;
    margin: 1ex 0;
}

footer {
    background: rgb(8, 8, 8);
    color: #c4e3f3;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

@media all and (min-width: 800px) {
    body {
        padding-bottom: 50px; /* fixed footer */
    }

    footer {
        position: fixed;
        bottom: 0;
        z-index: 100;
    }
}